<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question 1</title>
</head>
<body>
<h2> The Story of Us - Taylor Swift Mix</h2>

<p class="pt-5"><strong>{{ message }}</strong></p>

</body>
</html>
{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e39ff6; }
	</style>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Q1. What type of playlist ya feelin?</h1>

      <p class="lead"> 1. Random Taylor Swift Playlist</p>
        <p class="lead"> 2. It's all about me hun</p>
        <p class="lead">3. It's about someone...</p>

      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}