body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #F7cacd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #8a5066;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1;
    padding-bottom: 2%;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.0em;
}

img {
    width: 70%;
    height: auto;
}


/* Nav bar */

.container-nav {
    background-color: #d6b0d6;
    padding: 1% 6%;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 900;
}


/* Title  Home page */

.container-fluid-title {
    padding-top: 12%;
    padding-bottom: 6%;
    padding-left: 3%;
    padding-right: 3%;
}

.container-fluid-title p {
    color: #8a5066;
    font-size: 2.0em;
    font-weight: 600;
}

.container-fluid-form-home {
    padding-bottom: 6%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}

.container-fluid-form-home p {
    padding-bottom: 0%;
    padding-top: 2%;
    color: #8a5066;
    font-size: 2em;
    font-weight: 700;
}

.container-fluid-form-home h3 {
    padding-bottom: 3%;
    padding-top: 3%;
    font-size: 2em;
}


/* Button  */

.btn-group-lg .btn,
#start .btn-lg {
    padding: .7em 1.6em;
    font-size: 1.3em;
    border-radius: .5em;
}

#start .btn {
    font-weight: 600;
    border: 2.5px solid;
}

.btn-outline-light:hover {
    color: #d6b0d6
}


/* Question */

.container-fluid-title-2 {
    padding-top: 12%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.container-fluid-title-2 h2 {
    font-size: 2.75em;
}

.container-fluid-form {
    padding-bottom: 6%;
    padding-left: 5%;
    padding-right: 5%;
}

.container-fluid-form h3 {
    padding-bottom: 0%;
    padding-top: 2%;
    font-size: 2.5em;
}

.container-fluid-form h4 {
    padding-bottom: 2%;
    padding-top: 0%;
    font-size: 2em;
}

.container-fluid-form p {
    padding-top: 4%;
    padding-bottom: 1%;
    color: #8a5066;
    font-size: 1.75em;
    font-weight: 500;
}

.btn-group-lg .btn,
.btn-lg {
    padding: .5em 1.8em;
    font-size: 1.4em;
    border-radius: .5em;
}

.btn {
    font-weight: 500;
    border: 2.5px solid;
}


/* Playlist */

.container-fluid-title-playlist {
    padding-top: 12%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.container-fluid-title-playlist h2 {
    font-size: 3.5em;
    color: #d6b0d6;
    padding-bottom: 6%;
}

.container-fluid-title-playlist h3 {
    font-size: 2.5em;
    color: #8a5066;
    padding-top: 2%;
}

.container-fluid-form-playlist {
    padding-bottom: 10%;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}

.container-fluid-form-playlist p {
    padding-top: 4%;
    padding-bottom: 3%;
    color: #8a5066;
    font-size: 1.25em;
    font-weight: 500;
}

.btn-group-lg .btn,
#playlist .btn-lg {
    padding: .6em 1.4em;
    font-size: 1.2em;
    border-radius: .5em;
}

#playlist .btn {
    font-weight: 400;
    border: 2.5px solid;
}


/* footer */

.container-footer {
    background-color: #faecbe;
    color: #8a5066;
    padding: 3% 3%;
}

.container-footer p {
    font-size: 1.0em;
    padding-bottom: 1%;
    font-weight: 400;
}

.container-footer a {
    color: #8a5066;
    padding: 2px 4px;
    text-decoration: none;
}

.container-footer a:hover {
    color: #F7cacd;
    text-decoration: underline;
}