body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #F7cacd;
  }

h1, h2, h3, h4, h5, h6 {
    color: #8a5066;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1;
    padding-bottom: 2%;
  }
h1 {
    font-size: 3.0em;
}

/* Title */
  
.container-fluid-title {
    padding-top:  18%;
    padding-bottom: 8%;
    padding-left: 3%;
    padding-right: 3%;
  }

.container-fluid-title p {
    color: #8a5066;
    font-size: 2.0em;
    font-weight: 600;
  }



/* footer */
  
footer {
    background-color: #faecbe;
    color: #8a5066;
    padding: 3% 5%;
  }
  
footer p {
    font-size: 1.0em;
    font-weight: 400;
  }

  link-footer a {
    color: #8a5066;
    padding: 2px 4px;
    text-decoration: none;
  }
  
  link-footer a:hover {
    color: #F7cacd;
    text-decoration: underline;
  }