<!DOCTYPE html>
{%extends "layout.html"%}
{%block content%}


    <div class="container-fluid-title ">
        <h1>Project by CFG-Degree students</h1> 
    </div>

    <div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h3><img src="static/pictures/PT.png"></h3>
            <h3><a href="https://www.linkedin.com/in/thakkarpurvilondon/">Purvi Thakkar</a></h3>
        </div>
        <div class="col">
            <h3><img src="static/pictures/CS.png"></h3>
            <h3><a href="https://github.com/carosaut">Caroline Sautterr</a></h3>
        </div>
        <div class="col">
            <h3><img src="static/pictures/AV.png"></h3>
            <h3><a href="https://github.com/aude11">Aude Vernet</a></h3>
        </div>
      </div>
    </div>


{%endblock%}