<!DOCTYPE html>
{%extends "layout.html"%}
{%block content%}
<div class="column"></div>
<div class="column"></div>
<img src="static/TY.png">
<section>
    <h1 class="title-heading">Taylor Swift Mix</h1>
    </div>
  </section>
<section>
    <div class="container-fluid-form ">
<h1>Welcome to the Fan Club Page<h1/>
</section>   
      <form method="post" action="/fanclub_name">
      <h2>Add your details below:</h2>
    <h2>Fan Name: &nbsp &nbsp &nbsp <input type="text" name="name">&nbsp &nbsp &nbsp<input type="submit" class="btn btn-outline-light btn-lg" value="Confirm Fan Club Registration" name="fanclub" /></h2>
         <br>
      </form>
   </body>
</html>
{%endblock%}      