<!DOCTYPE html>
{%extends "layout.html"%}
{%block content%}


<div class="container-fluid-title ">
    <h1>Thank you for sharing your valuable feedback</h1> 
</div>

<section>
    <div class="container-fluid-form ">
    <form method="post" action="/feedback">
                <p>Which type of playlist did you like?</p>
            <input type="submit" class="btn btn-outline-light btn-lg" value="Random Taylor Swift Playlist" name="random" />
            <input type="submit" class="btn btn-outline-light btn-lg" value="Customized Playlist" name="perso" />

                <p>Would you like to listen to more Taylor Swift Songs?</p>
            <input type="submit" class="btn btn-outline-light btn-lg" value="Yes" name="more_taylor" />
            <input type="submit" class="btn btn-outline-light btn-lg" value="No" name="no_more_taylor" />

                <p>How will you rate your experience today?</p>
            <input type="submit" class="btn btn-outline-light btn-lg" value="Excellent" name="ex" />
            <input type="submit" class="btn btn-outline-light btn-lg" value="Good" name="good" />
            <input type="submit" class="btn btn-outline-light btn-lg" value="Average" name="av" />
                                
                <p>Would you like to listen to other Artists?</p>
            <input type="submit" class="btn btn-outline-light btn-lg" value="Yes" name="yes_artist" />
            <input type="submit" class="btn btn-outline-light btn-lg" value="No" name="no_artist" />
        </form>
    </div>
    </section>


{%endblock%}