!DOCTYPE html>
{%extends "layout.html"%}
{%block content%}


<div class="container-fluid-title ">
    <h1>Thank you for sharing your valuable feedback</h1> 
</div>

<section>
    <div class="container-fluid-form ">
    <form method="post" action="/feedback">
            <label for="playlist_type">Which type of playlist did you like?</label>
            <br>
            <textarea name="playlist_type"
                      placeholder="Random or Customized Taylor Swift Playlist"
                      rows="1"
                      cols="60"
                      >{{ request.form['playlist_type'] }}</textarea>
            <br>
    
            <label for="more_songs">Would you like to listen to more Taylor Swift Songs?</label>
            <br>
            <input type="text" name="more_songs"
                   placeholder="Yes or No"
                   value="{{ request.form['more_songs'] }}"></input>
            <br>
            <label for="rate">How will you rate your experience today?</label>
            <br>
            <input type="text" name="rate"
                   placeholder="Good or Average"
                   value="{{ request.form['rate'] }}"></input>
            <br>
            <label for="artist">Which artists would you like to listen to?</label>
            <br>
            <input type="text" name="artist"
                   placeholder="Name"
                   value="{{ request.form['artist'] }}"></input>
            <br>
            <br>
            <br>
            <br>
           <button type="submit" class="btn btn-outline-light btn-lg" >Submit</button>
        </form>
    </div>
    </section>


{%endblock%}