<!DOCTYPE html>
{%extends "layout.html"%}
{%block content%}
<div class="column"></div>
        <div class="column"></div>
        <img src="static/TY.png">
<section id="title">
        <h1 class="title-heading"> The Story of Us - Taylor Swift Mix</h1>
        <h1>Create the perfect Taylor Swift playlist for your last relationship</h1>
    </div>
  </section>

  <section id="start">
    <div class="container-fluid-form ">
    <form method="post" action="/">
        <h3>Let's Begin (Again) (Taylor's Version)<h3/>
        <input type="submit" class="btn btn-outline-light btn-lg" value="START" name="action1"/>
        <h3>Share your feedback here<h3/>
        <input type="submit" class="btn btn-outline-light btn-lg" value="Feedback" name="action2" />
    </form>
</div>
</section>

{%endblock%}