<style>
	body { background: #e39ff6; }
</style>

<h2> The Story of Us - Taylor Swift Mix</h2>
<h3>These are the songs on your playlist! <h3/>
    {% for song in songs%}
    <p>{{song}}</p>
    <p>The playlist has been created on your spotify account. Go to spotify to find it.<p/>
{% endfor %}


    <h3>Thanks for using our app! If you have time, we'd love some feedback. Please share your thoughts by clicking the Feedback button below.<h3/>
        <form> method="post" action="/playlist">
            <input type="submit" value="Feedback" name="action1" />
            <input type="submit" value="Spotify" name="action2" />
        </form>