<!DOCTYPE html>

{%extends "layout.html"%}

{%block content%}



<section>
    <div class="container-fluid-title-2">
        <h2> The Story of Us - Taylor Swift Mix</h2>
    </div>
  </section>




<section>
    <div class="container-fluid-form ">
<h3>Question 1 <h3/>
    <h4>{{ question1 }}</h4>
    <form method="post" action="http://127.0.0.1:5000/q1/">
        {% for key, value in options%}
        <p>{{ key }}</p>
        <input type="submit" class="btn btn-outline-light btn-lg" value={{ key }} name={{ value }} />
        {% endfor %}
    </form>
</div>
</section>


{%endblock%}