<!DOCTYPE html>

{%extends "layout.html"%}

{%block content%}

<!-- Question 4 -->

<section>
    <div class="container-fluid-title-2">
        <h2> The Story of Us - Taylor Swift Mix</h2>
    </div>
  </section>

  <section>
    <div class="container-fluid-form ">
<h3>Question 4 <h3/>
    <h4>{{ question4 }}</h4>
    <form method="post" action="{{url_question4_arg}}">
        {% for key, value in options%}
        <p>{{ key }}</p>
        <input type="submit" class="btn btn-outline-light btn-lg" value={{ value }} name= 'action4' />
        {% endfor %}
    </form>

</div>
</section>

{%endblock%}